        <!-- About Section-->
        <section class="page-section text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-6 ml-auto"><p class="lead">Et3rnos is an enthusiastic hacker and programmer specialized in Python developing. Whether you need a website, a bot, or any other type of software, he will have the perfect solution for you.</p></div>
                    <div class="col-lg-6 mr-auto"><p class="lead">He is also an active CTF player and one of <a href="https://ducks0ci3ty.github.io/" target="_blank">ducks0ci3ty</a> members, doing his best to rise in Hack The Box and Try Hack Me ranks.</p></div>
                </div>
            </div>
        </section>