<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Et3rnos is an enthusiastic hacker and programmer specialized in Python developing. Whether you need a website, a bot, or any other type of software, he will have the perfect solution for you.</p>
                </div>
                <div class="col-lg-4">
                    <p>He is also an active CTF player and one of <a href="https://ducks0ci3ty.github.io/" target="_blank">ducks0ci3ty</a> members, doing his best to rise in Hack The Box and Try Hack Me ranks.</p>
                </div>
            </div>
        </div>
    </section>